known_devices.yaml
secrets.yaml
**pycache**
*.db
*.db-shm
*.db-wal
.storage/
.HA_VERSION
.matrix.conf
webostv.conf
.shopping_list.json
*.log
*.log.*
venv
downloads
custom_components/hacs
www/community/**/*.gz
