- id: '1760264521110'
  alias: Open Garage door on Android Auto connection
  description: ''
  triggers:
  - entity_id:
    - binary_sensor.fp4_android_auto
    from: 'off'
    to: 'on'
    trigger: state
  conditions:
  - condition: zone
    entity_id: device_tracker.fp4
    zone: zone.home
  actions:
  - data: {}
    target:
      entity_id: cover.garage_door
    action: cover.open_cover
  - delay:
      hours: 0
      minutes: 0
      seconds: 30
      milliseconds: 0
  - data: {}
    target:
      entity_id: cover.garage_door
    action: cover.close_cover
  mode: single
- id: '1760264603345'
  alias: Waste has not been moved
  description: ''
  triggers:
  - hours: /1
    trigger: time_pattern
  conditions:
  - condition: and
    conditions:
    - condition: state
      entity_id: input_boolean.waste_moved
      state: 'off'
    - condition: time
      after: '18:00:00'
      before: '23:00:00'
    - condition: template
      value_template: '{{ states(''sensor.afvalwijzer_tomorrow'') != ''geen'' }}'
  actions:
  - data:
      title: Trash
      message: Tomorrow is trash day! Trash type {{ states.sensor.afvalwijzer_tomorrow.state
        }} will be picked up.
    action: notify.mobile_app_fp4
  mode: single
- id: '1760264611704'
  alias: Washing machine
  description: ''
  triggers:
  - entity_id:
    - sensor.washing_machine_washer_job_state
    to: finish
    trigger: state
  conditions: []
  actions:
  - data:
      message: The washing machine is done!
    action: notify.ntfy_home
  mode: single
- id: '1760264634662'
  alias: Send startup notification
  description: ''
  triggers:
  - event_type: homeassistant_start
    trigger: event
  conditions: []
  actions:
  - data:
      message: Home Assistant has started!
    action: notify.ntfy_monitoring
  mode: single
- id: '1760264645833'
  alias: Send shutdown notification
  description: ''
  triggers:
  - event_type: homeassistant_stop
    trigger: event
  conditions: []
  actions:
  - data:
      message: Home Assistant is shutting down!
    action: notify.ntfy_monitoring
  mode: single
- id: '1760264653620'
  alias: Reset waste notification
  description: ''
  triggers:
  - entity_id: input_boolean.waste_moved
    to: 'on'
    for:
      hours: 12
    trigger: state
  conditions: []
  actions:
  - entity_id: input_boolean.waste_moved
    action: input_boolean.turn_off
  mode: single
- id: '1760264678424'
  alias: Notify github releases
  description: ''
  triggers:
  - event_type: feedreader
    event_data: {}
    trigger: event
  conditions:
  - condition: template
    value_template: '{{ (''prerelease'' in trigger.event.data.title) == false }}'
  actions:
  - data:
      message: '{{ trigger.event.data.link }}'
      title: '{{ trigger.event.data.title }}'
    action: notify.ntfy_releases
  - data:
      item: '{{ trigger.event.data.link }}'
    target:
      entity_id: todo.updates
    action: todo.add_item
  mode: queued
